<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <h1>Social Feed Project</h1>
  </div>
</nav>

<div id="posts" class="side-nav">
  <%= render @posts %>
</div>

<div class="body">
  <h1>There should be some other stuff here</h1>
</div>

<%= will_paginate @posts %>
