<nav class="header navbar navbar-default navbar-fixed-top">
  <h1>
    <%= link_to 'Social Feed Project', root_path %>
  </h1>
</nav>

<div id="posts" class="side-nav">
  <%= render @posts %>
</div>

<div class="body">
</div>

<%= will_paginate @posts %>
