<nav class="header navbar navbar-default navbar-fixed-top">
  <h1>
    <%= link_to 'Social Feed Project', root_path %>
  </h1>
</nav>

<div id="posts" class="side-nav">
  <%= render @posts %>
</div>

<div class="body">
  <h1>Top 5 Post Topics</h1>
  <div class="mention">
    <p class="mention-name"></p>
  </div>
  <div class="mention">
    <p class="mention-name"></p>
  </div>
  <div class="mention">
    <p class="mention-name"></p>
  </div>
  <div class="mention">
    <p class="mention-name"></p>
  </div>
  <div class="mention">
    <p class="mention-name"></p>
  </div>

  <div class="fetch-post"></div>
</div>

<%= will_paginate @posts %>
