<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <h1>Social Feed Project</h1>
  </div>
</nav>

<div class="side-nav">
  <% @posts.each do |p| %>
    <div class="feed-post">
      <div class="side-nav-left">
        <img src="<%= p.image_url %>">
      </div>
      <div class="side-nav-right">
        <p>Hi, I am feed post # <%= p.id %>.  The date and time is <%= p.created_at %>. Today’s weather forecast is sunny with zero chance of rain. It is a great day to be outside in this beautiful city.</p>
      </div>
    </div>
  <% end %>
</div>

<div></div>
