// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  background-color:#F5F5F7;
  box-shadow:0 5px 5px #888888;

  a {
    color:inherit;
    text-decoration:none;
  }

  h1 {
    margin-left:5px;
  }
}

.side-nav {
  top:0;
  left:0;
  width:480px;
  margin-top: 70px;
  position:absolute;
  height:100%;
  overflow-y: scroll;
  
  .feed-post {
    .left-image {
      margin:5px;
      float:left;
    }

    .post-text {
      display:block;
      overflow:hidden;
      margin:5px;
    }
  }

  .top-post {
    padding-top: 10px;
  }

  hr {
    margin:0;
    padding: 5px 0 5px;
  }
}

.body {
  top:0;
  left:520px;
  position:absolute;
  text-align:center;
  margin:70px auto 0 auto;
  width:400px;

  h1 {
    text-align:left;
  }
  
  .mention {

    .mention-name {
      text-align:left;
    }

    .count-mentions {
      float:right;
    }
  }
}
