// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  background-color:#F5F5F7;
}

.side-nav {
  top:0;
  left:0;
  width:480px;
  margin-top: 70px;
  position:absolute;
  height:100%;
  overflow-y: scroll;
  
  .feed-post {
    .left-image {
      float:left;
    }
  }
}

.body {
  top:0;
  right:0;
  position:absolute;
  text-align:center;
  margin:70px auto 0 auto;
}
